#testimonial {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  background-color: var(--white);
}
#testimonial h2 {
    color: var(--grayish-blue);
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
}
#testimonial .t_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#testimonial .t_box {
  background-color: var(--white);
  width: 300px;
  height: 450px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  position: relative;
}

#testimonial .t_box:hover {
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}
#testimonial .t_image {
  width: fit-content;
  height: 40%;
  margin: auto;
  border-radius: 50%;
}
#testimonial .t_image img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

#testimonial .t_text {
  width: 100%;
  height: 60%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
#testimonial .t_text p {
  margin: 0;
  color: var(--very-dark-grayish-blue);
  font-size: 1.1rem;
  display: block;
  display: -webkit-box;
  max-width: 80%;
  margin-top: 25px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
#testimonial .t_text p.name {
    margin-bottom: 15px;
    font-weight: 600;
}
#testimonial .t_text span {
    font-weight: 600;
    color: var(--grayish-blue);
    font-size: .8rem;
}
@media screen and (max-width: 1100px) {
  #testimonial {
    height: auto;
  }
  #testimonial h2 {
    text-align: center;
  }
  #testimonial .t_container {
    display: flex;
    flex-wrap: wrap;
  }
  
}
@media screen and (max-width: 350px) {
  #testimonial .t_box {
    width: 95%;
  }
}